:root {
  --clr-primary-hsl-100: 0, 0%, 100%;
  --clr-primary-hsl-200: 225, 100%, 94%;
  --clr-primary-hsl-500: 245, 75%, 52%;

  --clr-secondary-hsl-200: 225, 100%, 98%;
  --clr-secondary-hsl-500: 224, 23%, 55%;
  --clr-secondary-hsl-800: 223, 47%, 23%;

  --clr-primary-100: hsl(var(--clr-primary-hsl-100));
  --clr-primary-200: hsl(var(--clr-primary-hsl-200));
  --clr-primary-500: hsl(var(--clr-primary-hsl-500));

  --clr-secondary-200: hsl(var(--clr-secondary-hsl-200));
  --clr-secondary-500: hsl(var(--clr-secondary-hsl-500));
  --clr-secondary-800: hsl(var(--clr-secondary-hsl-800));

  --ff-primary: "Red Hat Display", sans-serif;

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --fs-100: 1rem;
  --fs-200: 1.5rem;

  --size-100: 0.5rem;
  --size-200: 0.75rem;
  --size-300: 1rem;
  --size-400: 1.5rem;
  --size-500: 2rem;

  /* Tokens */

  --clr-bg-body: var(--clr-primary-200);
  --clr-bg-card: var(--clr-primary-100);
  --clr-bg-pricing: var(--clr-secondary-200);
  --clr-bg-btn: var(--clr-primary-500);
  --clr-bg-btn-hover: var();
  --clr-btn: var(--clr-secondary-200);
  --clr-heading: var(--clr-secondary-800);

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-body: var(--fw-medium);
  --fw-heading-1: var(--fw-black);
  --fw-heading-2: var(--fw-black);
  --fw-btn: var(--fw-medium);

  --fs-body: var(--fs-100);
  --fs-heading-1: var(--fs-200);
  --fs-heading-2: var(--fs-100);
  --fs-btn: var(--fs-100);
}

/* Reset Styles */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

/* General Styles */

body {
  font-family: var(--ff-body);
  font-weight: var(--fw-body);
  font-size: var(--fs-body);
  background-color: var(--clr-bg-body);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  margin-inline: var(--size-300);
}

.card {
  background: var(--clr-bg-card);
  border-radius: var(--size-300);
  box-shadow: 0.5rem 1rem 5rem hsl(var(--clr-secondary-hsl-500), 0.5);
  max-width: 22rem;
}

.hero-img-wrapper img {
  border-radius: var(--size-300) var(--size-300) 0 0;
}

.order-summary {
  padding: var(--size-400);
  display: grid;
}

.pricing-wrapper {
  padding: var(--size-300);
  background-color: var(--clr-bg-pricing);
  border-radius: var(--size-200);
}

.link {
  color: var(--clr-primary-500);
  font-weight: var(--fw-btn);
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  opacity: 0.75;
}

.heading-1 {
  font-family: var(--ff-heading);
  color: var(--clr-heading);
  font-size: var(--fs-heading-1);
  font-weight: var(--fw-heading-1);
}

.heading-2 {
  font-family: var(--ff-heading-2);
  font-weight: var(--fw-heading-2);
  font-size: var(--fs-heading-2);
  color: var(--clr-heading);
}

.btn {
  font-size: var(--fs-btn);
  font-weight: var(--fw-btn);
  color: var(--clr-btn);
  background: var(--clr-bg-btn);
  box-shadow: 0.5rem 1rem 2rem hsl(var(--clr-secondary-hsl-500), 0.5);
  padding: var(--size-300);
  cursor: pointer;
  border: none;
  border-radius: var(--size-300);
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

.cancel-order {
  font-weight: var(--fw-btn);
  opacity: 0.75;
  width: fit-content;
}

.cancel-order:hover {
  color: var(--clr-heading);
  cursor: pointer;
  opacity: 1;
}

/* Utilities */

.flex-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--size-200);
}

.flex-group[data-flex-direction="column"] {
  flex-direction: column;
  align-items: stretch;
}

.align-center {
  text-align: center;
  margin-inline: auto;
}

.spacer-small {
  margin-top: var(--size-300);
}

.line-text-height {
  line-height: 1.5;
}

.spacer-medium {
  margin-top: var(--size-400);
}

p[data-max-width] {
  max-width: 25ch;
}

[data-low-opacity] {
  opacity: 0.7;
}

.coderSeth {
  font-size: var(--size-300);
  text-align: center;
}

.coderSeth a {
  --cS-color: 228, 45%, 44%;
  color: hsl(var(--cS-color));
}

/* Small screen widths */

@media (max-width: 650px) {
  .spacer-small {
    margin-top: var(--size-100);
  }
}
